body {
    color: #333;
}

body, input, button {
    line-height: 1.4;
    font: 13px Helvetica,arial,freesans,clean,sans-serif;
}


a {
    color: #4183C4;
    text-decoration: none;
}

#examples a {
    text-decoration: underline;
}

#geocomplete { width: 200px}

.map_canvas {
    width: 600px;
    height: 400px;
    margin: 10px 20px 10px 0;
}

#multiple li {
    cursor: pointer;
    text-decoration: underline;
}